<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NX5VQP"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page_loader"></div>

<!-- Contact section start -->

<div class="modal modal-sheet position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSheet">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-6 shadow">
        <div class="modal-body p-4 text-center">
            <h4 class="mb-0">Create an account</h4>
          </div>
        <form action="#" method="GET">

            <div class="modal-body p-5 pt-0">
                <form class="">
                    <div class="form-floating mb-3">
                        <input type="text" name="firstname" class="form-control rounded-4" id="floatingInput" placeholder="First Name">
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="lastname" class="form-control rounded-4" id="floatingInput" placeholder="Last Name">
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="Username" class="form-control rounded-4" id="floatingInput" placeholder="Username">
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control rounded-4" id="floatingInput" placeholder="name@example.com">
                    </div>
                    <div class="form-floating mb-3">
                        <input type="Password" name="Password" class="form-control rounded-4" id="floatingInput" placeholder="Password">
                    </div>
                    <div class="form-floating mb-3">
                        <input type="Password" name="Confirm Password" class="form-control rounded-4" id="floatingInput" placeholder="Confirm Password">
                    </div>

                </form>
            </div>

        <div class="modal-footer flex-column border-top-0">
          <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2">Register</button>
          <div class="modal-body p-4 text-center">
            <h6 class="mb-0">Or login with</h6>
          </div>
          <button type="button" class="btn btn-lg btn-light w-100 mx-0" data-bs-dismiss="modal">Facebook</button>
          <button type="button" class="btn btn-lg btn-light w-100 mx-0" data-bs-dismiss="modal">Google</button>
          <div class="modal-body p-4 text-center">
            <p>Already a member? <a href="login.html" class="thembo"> Login here</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>