{% extends 'includs/base.html' %}
{% load static %}
{% block content %}
<div>
    <div class="wrapper">
        <div class="wrapper-in" style="max-width: 755px; margin:50px auto;">
            <div class="style" style="text-align: center;">
     <span style="font-size: 16pt; color: #0c0ceb"> <b>ИНТЕРНЕТ-МАГАЗИН FINE</b></span> <br>
                <p>
     <span style="font-family: Arial, Helvetica; font-size: 12pt;">FINE – интернет-магазин, у которого более 110 филиалов по всему Кыргызстану. </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                </p>
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                <p>
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;">
                    В магазинах огромный выбор смартфонов мировых брендов. Есть всё, для подключения к скоростному мобильному интернету: роутеры, винглы, семейные комплекты для дома! </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                </p>
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                <p>
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                </p>
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                <p>
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;">
                    Больше 2000 аксессуаров для мобильных устройств: кабели, переходники, адаптеры, акустические колонки и наушники, ультрамодные сумки, бананки и рюкзаки, портативные зарядки, устройства для системы «Умный дом» и многое другое.</span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                </p>
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                <div class="about_list" >
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                    <div class="item" style="clear:both; margin-top: 20px;">
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><img width="50" style="vertical-align:middle; border-style:none; aspect-ratio: auto 50 / 50; height: 50px; float:left; margin:0 34px 0 34px; width:50px;" src="../media/Icon-1.jpg" height="50" class="icon"><span style="font-family: Arial, Helvetica; font-size: 12pt; float:left; margin:0 34px 0 34px; width:50px;"> </span>
                        <div class="t" style="display:contents; text-align: left; margin-left: 20px; text-align: left; min-height: 50px; display: flex; align-items: center; justify-content: left;">
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"><b> </b></span><span style="font-family: Arial, Helvetica; font-size: 12pt;"><b> </b>Только сертифицированный товар от официальных поставщиков. Гарантийное обслуживание. </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                        </div>
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                    </div>
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                    <div class="item" style=" clear:both; margin-top: 20px;">
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><img width="50" style="vertical-align:middle; border-style:none; aspect-ratio: auto 50 / 50; height: 50px; float:left; margin:0 34px 0 34px; width:50px;" src="../media/Icon-2.jpg" height="50" class="icon"><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                        <div class="t" style="display:contents; text-align: left; margin-left: 20px; text-align: left; min-height: 50px; display: flex; align-items: center; justify-content: left;">
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;">
                            Смартфон можно купить В КРЕДИТ или В РАССРОЧКУ без процентов и переплаты. </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                        </div>
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                    </div>
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                    <div class="item" style="clear:both; margin-top: 20px;">
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><img width="50" style="vertical-align:middle; border-style:none; aspect-ratio: auto 50 / 50; height: 50px; float:left; margin:0 34px 0 34px; width:50px;" src="../media/Icon-3.jpg" height="50" class="icon"><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                        <div class="t" style="display:contents; text-align: left; margin-left: 20px; text-align: left; min-height: 50px; display: flex; align-items: center; justify-content: left;">
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;">
                            Постоянные Акции, Скидки и Специальные предложения. </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                        </div>
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                    </div>
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                    <div class="item" style="clear:both; margin-top: 20px;">
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><img width="50" style="vertical-align:middle; border-style:none; aspect-ratio: auto 50 / 50; height: 50px; float:left; margin:0 34px 0 34px; width:50px;" src="../media/Icon-4.jpg" height="50" class="icon"><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                        <div class="t" style="display:contents; text-align: left; margin-left: 20px; text-align: left; min-height: 50px; display: flex; align-items: center; justify-content: left;">
     <span style="font-family: Arial, Helvetic; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;">
                            Бесплатная доставка по Бишкеку. </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                        </div>
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                    </div>
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                    <div class="item" style="clear:both; margin-top: 20px;">
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><img width="50" style="vertical-align:middle; border-style:none; aspect-ratio: auto 50 / 50; height: 50px; float:left; margin:0 34px 0 34px; width:50px;" src="../media/Icon-5.jpg" height="50" class="icon"><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                        <div class="t" style="display:contents; text-align: left; margin-left: 20px; text-align: left; min-height: 50px; display: flex; align-items: center; justify-content: left;">
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;">
                            На нашем сайте вы найдёте детальное описание каждого товара, а также видеообзоры, которые помогут вам определиться с выбором. </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                        </div>
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                    </div>
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                    <div class="item" style="clear:both; margin-top: 20px;">
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><img width="50" style="vertical-align:middle; border-style:none; aspect-ratio: auto 50 / 50; height: 50px; float:left; margin:0 34px 0 34px; width:50px;" src="../media/Icon-6.jpg" height="50" class="icon"><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                        <div class="t" style="display:contents; text-align: left; margin-left: 20px; text-align: left; min-height: 50px; display: flex; align-items: center; justify-content: left;">
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;">
                            БОНУС при заказе смартфона онлайн! Дарим БЕСПЛАТНЫЙ скоростной интернет-трафик. </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                        </div>
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                    </div>
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                    <div class="item" style="clear:both; margin-top: 20px;">
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><img width="50" style="vertical-align:middle; border-style:none; aspect-ratio: auto 50 / 50; height: 50px; float:left; margin:0 34px 0 34px; width:50px;" src="../media/Icon-7.jpg" height="50" class="icon"><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                        <div class="t" style="display:contents; text-align: left; margin-left: 20px; text-align: left; min-height: 50px; display: flex; align-items: center; justify-content: left;">
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-family: Arial, Helvetica; font-size: 12pt;">
                            Оперативная обратная связь по телефону </span><a href="tel:0701112233"><span style="color: #0c0ceb"><span style="font-family: Arial, Helvetica; font-size: 12pt;"><span style="color: #0c0ceb"><b>0701112233</b></span></span></span></a><span style="font-family: Arial, Helvetica; font-size: 12pt;"><span style="font-family: Arial, Helvetica;">.</span> </span>
                        </div>
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                    </div>
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span>
                </div>
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><br>
     <span style="font-family: Arial, Helvetica; font-size: 12pt;"> </span><span style="font-size: 12pt; font-family: Arial, Helvetica;">
                Мы всегда рады общению с нашими Клиентами. Пишите нам, и мы с благодарностью примем ваше мнение во внимание:</span><b><span style="font-family: Arial, Helvetica; font-size: 12pt;">&nbsp;</span></b><a href="info:fine.kg"><span style="font-size: 12pt; font-family: Arial, Helvetica; color:#0c0ceb"><span style="color: #0c0ceb"><b>info@fine.kg</b></span></span></a>
                <div class="global-block-container">
                    <div class="global-content-block">
     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 {% endblock %}


	